
* {
    margin: 0px;
    font-family: Muli ;
}


/* Fuentes */

@font-face{
    font-family: 'Muli', sans-serif;
    src: url('fonts/Muli-VariableFont_wght.ttf') format('ttf');
}

p {
    font-family: Muli ;
    font-size: 1.125rem;
    
}
h1 {
    font-family: Muli ;
    font-size: 3.75rem;
    line-height: 130%;
    display: block;
    font-weight: Extra-Bold;
}
h2{
    
    font-size: 2rem;
}
h3{
    font-size: 2.625rem;
    line-height: 140%;
    
}
h4{
    font-weight: bold;
}
.hero{
    font-size: 1.375rem;
    font-weight: 800;
    font-weight: bold;
}
.text{
    margin: 40px;
}
.textdos{
   margin-left: 40px;
}
.texttres{
   margin-left: 40px;
}

/* Flex */
#menu , #contenidouno, #contenidodos, #contenidotres, #contenidocuatro {
    display: flex;
    justify-content: center;
}


/* anchos de página */

.ancho {
    width: 1500px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
   /* border: #2f2f2f73 1px solid;*/
    
}
.anchodos {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
   /* border: #2f2f2f73 1px solid;*/
    
}


.menutop {
    width: 202px;

}
.logomain {
    width: 945px;
    justify-content: center;
}
.car{
    width: 202px;
}
.contunotex{
    width: 480px;
    height: 700px;
    padding-top: 85px;
}
.contdostex{
    
    max-width: 770px;
    height: auto;
    padding-top: 85px;
}

.topconttres{
    width: 100%;
}
.conttrescol-1-2{
    max-width: 620px;
    min-height: 590px;
    margin-right: 20px;
    background-color: white;
    
}
.conttrescol-3{
    width: 350;
    min-height: 590px;
    margin-right: 20px;
    background-color: white;
    max-width: 360px;
}
.conttrescol-4{
    max-width: 360px;
    min-height: 590px;
    background-color: rgb(0, 0, 0);
    color: white;

}

/* estilos gráficos*/
#menu {
    background-color: #f2f2f2;
}

#contenidouno { 
    background-image: url(img/bkgcontenidouno.gif);
    background-size: 100%;
}
.contunoimg {
    margin-top: 130px;
   
}

#contenidodos {
    background-color: #5ba475;
}
.contdosimg {
    margin-top: 30px;
   
}
#contenidotres{
    background-color: #e4e4e4;
}
